.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 370px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  color: black !important;
}
#name {
  color: black;
  /* display: none; */
}
#listedonne {
  list-style-type: none;  
}
#th1 {
  color: white;
}
#td1 {
  color: black;
}
td {
  width: 300px;
}
#zonetextnom {
  width: 250px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.ajout {
  margin-top: 50px;
}
#modifier {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 50px;
  padding-top: 30px;
}
#inputmodifiernom {
  height: 35px;
  margin-left: 20px;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#inputmodifierprenom {
  height: 35px;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#bouttonmodifier {
  margin-left: 50px;
  margin-top: 20px;
}